<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Chitter</title>
  </head>
  <body>
    <ul id="peeps">
      <% @peeps.sort_by { |peep| peep.time }.reverse.each do |peep| %>
        <li>
          <%= peep.username %> peeped <%= peep.content %> on <%= peep.time %>
        </li>
      <% end %>
    </ul>
  </body>
  <a href="/peeps/new">Create a Peep!</a>
</html>
